<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/TempestLogo.png">

  @entryPointStyles('app')
  @entryPointScripts('app')

  <title>Tempest</title>

</head>
  <body class="h-screen flex flex-col relative bg-fixed bg-[url(../assets/backgroundLogo1000.png)] bg-no-repeat bg-center bg-contain">
    @inertia
  </body>
</html>
